.homepage{
    background-color: #FCFCF9;
    width: 100%;
    height: 1000px;
    background: radial-gradient(circle at 0% -18%, #ebcaf7 11%, #fcfbf7 32%);
}
.navbar{
    height: 200px;
    background-color: transparent;
    width: 100%;
}
.logo{
    padding-left: 130px;
    padding-top: 17px ;
}
.button {
    background-color: #664EFC;
    border: 2px solid #664EFC;
    color: #fcfbf7;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    margin-left: 900px;
    margin-top: -7px;
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    
  }
  
  .button:hover {
    background-color: #fcfbf7;
    color: #664EFC;
    border-radius: 2px;
    border-color: #664EFC;
  }
  .pricing{
     position: absolute;
     margin-left: 770px;
     margin-top: -34px;
     font-family: 'DM Sans', sans-serif;
     font-size: 20px;
  }
  .support{
      position: absolute;
      margin-top: -34px;
      padding-left: 900px;
      font-family: 'DM Sans', sans-serif;
      font-size: 20px;
  }


.heading1{
      font-size: 60px;
      font-family: 'DM Sans', sans-serif;
      padding-left: 130px;

  }
.desciption1{
    padding-left: 130px;
    font-family: 'DM Sans', sans-serif;
    font-size: 19px;
    color: #969696;
    position: absolute;
    margin-top: 14px;

  }
.buttonend {
  background-color: #664EFC;
  border: 2px solid #664EFC;
  color: #fcfbf7;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor: pointer;
  
  margin-left: 130px;
  margin-top: 100px;
  position: absolute;
  font-family: 'DM Sans', sans-serif;
    
  }
  
  .buttonend:hover {
    background-color: #fcfbf7;
    color: #664EFC;
    border-radius: 2px;
    border-color: #664EFC;
  }
 
.usersavathar{
    position: absolute;
    padding-left:130px;
    padding-top: 175px;
}
.avathartext{
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    padding-left:130px;
    font-size: 20px;
    color: #969696;
    padding-top: 235px;
}
.numberblue{
    color:#664EFC;
    font-weight: 700;
}
.tabmockup{
  position: absolute;
  max-width: 640px;
  margin-left: 740px;
  margin-top: -250px;
}
.body1{
  padding-top: 100px;
}
.body2{
  height: 1000px;
  width: 100%;
  background-color: white;
}
.heading2{
  font-size: 40px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  padding-left: 130px;
  margin-top: 100px;
}
.description2{
  padding-left:130px;
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.link2{
  font-family: 'DM Sans', sans-serif;
  color:#664EFC;
    font-weight: 700;
    padding-left:130px;
    font-size: 20px;

}
.socialmockup{
  position: absolute;
  max-width: 450px;
  margin-left: 920px;
  margin-top: -220px;
}
.phonemockup{
  position: absolute;
  padding-left: 130px;
  max-width: 650px;
  margin-top: 70px;
}
.heading3{
  position: absolute;
  padding-left: 750px;
  font-size: 40px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  margin-top: 245px;

}
.discription3{
  position: absolute;
  padding-left: 750px;
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-top: 360px;

}
.link3{
  font-family: 'DM Sans', sans-serif;
  color:#664EFC;
    font-weight: 700;
    padding-left:750px;
    font-size: 20px;
    padding-top:430px;

}
.footer{
  width: 100%;
  height: 350px;
  background-color:#FCFCF9; 

}
.footerlogo{
  color: #000;
  font-weight: 900;
  font-size: 25px;
  font-family: 'DM Sans', sans-serif;
  padding-left:130px;
  padding-top: 100px;



}
.footerdescription{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-left:130px;

}
.footerdescription2{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-left:130px;

}
.Sitemap{
  color: #000;
  font-weight: 900;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  padding-top: 100px;
  position: absolute;
  margin-top: -285px;
  margin-left: 740px;

}
.Resources{
  color: #000;
  font-weight: 900;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  padding-top: 100px;
  position: absolute;
  margin-top: -285px;
  margin-left: 920px;

}
.Company{
  color: #000;
  font-weight: 900;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  padding-top: 100px;
  position: absolute;
  margin-top: -285px;
  margin-left: 1100px;
}
.Portfolios{
  color: #000;
  font-weight: 900;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  padding-top: 100px;
  position: absolute;
  margin-top: -285px;
  margin-left: 1265px;

}
.Homepage{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 740px;
  margin-top: -140px;

}
.Support{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 920px;
  margin-top: -40px;
}
.About{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 1100px;
  margin-top: -35px;
}
.Pricing{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 740px;
  margin-top: 0px;

}
.HackerNews{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 1260px;
  margin-top: -40px;
  
}
.Contact{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 920px;
  margin-top: -40px;

}
.Customers{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 1100px;
  margin-top: -40px;
}
.Reddit{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 1260px;
  margin-top: -35px;
}
.FAQ{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 920px;
  margin-top: 0px;
}
.Blog{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 1100px;
  margin-top: -40px;
}
.Twitter{
  color: #969696;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 1260px;
  margin-top: -40px;
}